<div>
    <form method="post">
        <div class="form-group">
            <label for="keywords">Keywords</label>
            <input type="text" name="keywords" class="form-control" id="keywords" aria-describedby="emailHelp" placeholder="Input keywords">
        </div>
        {{!-- Post parameter name to URL --}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>